// -*- go -*-
package main

import (
	"context"
	"encoding/json"
	"flag"
	"fmt"
	"log"
	"os"
	"reflect"
	"strings"
	"time"

	"github.com/bobg/fab"
	"github.com/bobg/fab/sqlite"
	"go.uber.org/multierr"

	subpkg "x/pkg/{{ .Subpkg }}"
)

var dirHash = "{{ .Dirhash }}"

func main() {
	index := map[string]fab.Target{
		{{ range .Targets }}
		"{{ .SnakeName }}": subpkg.{{ .Name }},
		{{ end }}
	}

	var (
		names = make(map[uintptr]string)
		v     reflect.Value
	)
	{{ range .Targets }}
	v = reflect.ValueOf(subpkg.{{ .Name }})
	if v.Kind() == reflect.Pointer {
		names[v.Pointer()] = "{{ .Name }}"
	}
	{{ end }}

	ctx := context.Background()
	ctx = fab.WithNames(ctx, names)

	var (
		verbose bool
		dbfile  string
		rundir  string
		outfile string
	)
	flag.BoolVar(&verbose, "v", false, "run verbosely")
	flag.StringVar(&dbfile, "db", "", "path to Sqlite3 hash database file")
	flag.StringVar(&rundir, "rundir", "", "directory in which to execute rules")
	flag.StringVar(&outfile, "o", "", "file in which to place JSON-encoded error output")
	flag.Parse()

	if outfile == "" {
		log.Fatal("Must specify an output file with -o")
	}

	f, err := os.OpenFile(outfile, os.O_WRONLY|os.O_TRUNC|os.O_CREATE, 0644)
	if err != nil {
		log.Fatalf("Opening %s for writing: %s", outfile, err)
	}
	defer f.Close()
	enc := json.NewEncoder(f)
	enc.SetIndent("", "  ")

	ctx = fab.WithVerbose(ctx, verbose)
	if rundir != "" {
		ctx = fab.WithDir(ctx, rundir)
	}
	if dbfile != "" {
		db, err := sqlite.Open(ctx, dbfile, sqlite.Keep(30*24*time.Hour)) // keep db entries for 30 days
		if err != nil {
			log.Fatalf("Error opening %s: %s", dbfile, err)
		}
		defer db.Close()
		ctx = fab.WithHashDB(ctx, db)
	}

	args := flag.Args()
	if len(args) == 0 {
		if _, ok := index["default"]; !ok {
			log.Fatal("No targets given and no default target defined")
		}
		args = []string{"default"}
	}

	var (
		targets []fab.Target
		unknown []string
	)

	for _, arg := range args {
		if target, ok := index[arg]; ok {
			targets = append(targets, target)
		} else {
			unknown = append(unknown, arg)
		}
	}

	var errs []error

	if len(unknown) > 0 {
		errs = append(errs, fmt.Errorf("unknown target(s): %s", strings.Join(unknown, " ")))
	} else {
		runner := fab.NewRunner()
		err := runner.Run(ctx, targets...)
		if err != nil {
			errs = multierr.Errors(err)
		}
	}

	output := []string{} // n.b. not nil, which JSON-encodes as "null"
	for _, e := range errs {
		output = append(output, e.Error())
	}
	enc.Encode(output)
}
