package main

import (
	"context"
	"flag"
	"log"
	"strings"

	"github.com/bobg/fab"

	subpkg "x/pkg/{{ .Subpkg }}"
)

func main() {
	var verbose bool

	flag.BoolVar(&verbose, "v", false, "run verbosely")
	flag.Parse()

	ctx := context.Background()
	ctx = fab.WithVerbose(ctx, verbose)

	var (
		targets []fab.Target
		unknown []string
	)

	for _, arg := range flag.Args() {
		if target, ok := index[arg]; ok {
			targets = append(targets, target)
		} else {
			unknown = append(unknown, arg)
		}
	}

	if len(unknown) > 0 {
		log.Fatalf("Unknown target(s): %s", strings.Join(unknown, " "))
	}

	runner := fab.NewRunner()
	err := runner.Run(ctx, targets...)
	if err != nil {
		log.Fatal(err)
	}
}

var index = map[string]fab.Target{
	{{ range .Targets }}
	"{{ .SnakeName }}": subpkg.{{ .Name }},
	{{ end }}
}
